In [1]:
import pandas as pd

In [6]:
df = pd.read_csv(r'D:\Electro Pi\Sales-Chatbot\Dataset\Books.csv')

C:\Users\DELL\AppData\Local\Temp\ipykernel_27976\3697865996.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'D:\Electro Pi\Sales-Chatbot\Dataset\Books.csv')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [9]:
import pandas as pd
import numpy as np

# Assuming df is your DataFrame
np.random.seed(42)  # For reproducibility

# Generate random prices between 5 and 200
df["price"] = np.random.uniform(5, 200, size=len(df)).round(2)

# Assign a random discount (0% for some products)
df["discount_percentage"] = np.where(np.random.rand(len(df)) < 0.3,  # 30% of products have a discount
                                     np.random.randint(5, 51, size=len(df)),  # Discount between 5% and 50%
                                     0)  # No discount for others

# Calculate price after discount
df["price_after_discount"] = (df["price"] * (1 - df["discount_percentage"] / 100)).round(2)

# Display first few rows
print(df.head())

         ISBN                                         Book-Title  \
0  0195153448                                Classical Mythology
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi

            Book-Author Year-Of-Publication                   Publisher  \
0    Mark P. O. Morford                2002     Oxford University Press
1  Richard Bruce Wright                2001       HarperFlamingo Canada
2          Carlo D'Este                1991             HarperPerennial
3      Gina Bari Kolata                1999        Farrar Straus Giroux
4       E. J. W. Barber                1999  W. W. Norton &amp; Company

                                         Image-URL-S  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

                                         Image-URL-M  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

                                         Image-URL-L   price  \
0  http://images.amazon.com/images/P/0195153448.0...   78.04
1  http://images.amazon.com/images/P/0002005018.0...  190.39
2  http://images.amazon.com/images/P/0060973129.0...  147.74
3  http://images.amazon.com/images/P/0374157065.0...  121.74
4  http://images.amazon.com/images/P/0393045218.0...   35.42

   discount_percentage  price_after_discount
0                    0                 78.04
1                   16                159.93
2                    0                147.74
3                    0                121.74
4                    0                 35.42

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ISBN                  271360 non-null  object
 1   Book-Title            271360 non-null  object
 2   Book-Author           271358 non-null  object
 3   Year-Of-Publication   271360 non-null  object
 4   Publisher             271358 non-null  object
 5   Image-URL-S           271360 non-null  object
 6   Image-URL-M           271360 non-null  object
 7   Image-URL-L           271357 non-null  object
 8   price                 271360 non-null  float64
 9   discount_percentage   271360 non-null  int32
 10  price_after_discount  271360 non-null  float64
dtypes: float64(2), int32(1), object(8)
memory usage: 21.7+ MB

In [13]:
df = df.iloc[:10000]

In [14]:
df.to_csv(r'D:\Electro Pi\Sales-Chatbot\Dataset\Books2.csv')